/* #banner{
    
    color: blue;
    height: 20vh;

}
#features1{
    background-color: aqua;
    height: 15vh;
    width:300px
}
#features2{
    height: 15vh;
    background-color: rgb(100, 186, 73);
    width: 300px;
} */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 }
 html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(177, 171, 184);
}
nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
    position: relative;
    height: 90px;
}
.logo{
    color: blue;
}
nav ul{
    display: flex;
    gap:30px;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
   
    color: black;
    text-decoration: none;
}
ul li ul.dropdown{
    display: block;

}
ul li ul.dropdown{
    width:100%;
    background-color: rgb(180, 174, 213);
    color: rgb(221, 155, 69);
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover{
    background-color: darkgoldenrod;
}
ul li:hover ul.dropdown{
    display: block;
}
.menu-icon i{
    color: blue;
    font-size: 30px;
    di
}
@media (max-width:600px){
    nav ul{
        position: absolute;
        top:70px;
        left:0
        right:0;

    }
}
.container{
    display: flex;
    justify-content: center;
}
.card{
    background-color: rgb(235, 232, 228);
    width:270px;
    height: 250px;
    
    margin: 20px;
}
.card-image{
    background-color: rgb(4, 100, 164);
    height: 80px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
}
.card a{
    padding: 10px 10px 10px 10px;
    text-align: center;
    background-color: rgb(177, 133, 219);
    color: blue;
    margin: 20px 50px;

}
.card:hover{
    background-color: rgb(132, 132, 195);
}